/* barra de navegação */
#container-topo{
display: grid;
grid-template-columns: auto 1fr 1fr;
}
/* imagem de perfil e nome */
#persona-topo{
  padding-left: 60px;
}
.link-buttom-topo{
justify-content: center;
gap: 20px;
font-size: 20px;
}
/* barra de pesquisa */
#conteudoNavbarSuportado{
justify-content: end;
}
/* botao da barra de pesquisa */
.btn{
  border-color: white;
color: white;
}
.btn:hover{
  background-color: white;
  border-color: #007bff;
  color: #007bff;
}
/* conteudo */
.container-main{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 60px;
  background-color: blue;
  width: 100vw;
  height: 100vh;
  
}
.filtro-main{
  color: black;
  width: 300px;
  height: 100vh;
  background-color: #f6f6f6;
  grid-column: 1;
}
.mural-vagas-main{
  color: white;
  background-color: #007bff;
  grid-column: 3/-1;
}
/* vagas */
.mural-vagas-main{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
padding: 20px;
gap: 20px;

}
.vagas{
 display: grid;
 width: 100%;
 padding: 20px;
 justify-content: center;
 justify-items: center;
 border: 1px solid white;
}

