*{
  font-family: Arial, Helvetica, sans-serif;
  
}
.topo-cont{
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: rgb(96, 96, 96);
  border-bottom: 2px solid black;
}
a{
  text-decoration: none;
}
.mt-35{
  margin-top: 35px;
}
/*REDIMENSIONAMENTO DA IMAGEM PARA O CABEÇALHO*/
.img-logo{
  
  padding: 0px;
width: 20vw;
height: 80px;
}
/*COR BRANCA PARA OS LINK DE NAVEGAÇÃO*/
.nav-color{
  color: white;
}

/*DESLIGAMENTO DA FUNCAO HOVER*/
.hov-off:hover{
  color: white;
}
.corpo-cont{
display: flex;
}
p{
  font-size: 1.25rem;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: #1a0e0ef6;
  padding: 20px;
}
#color-cinza{
  background-color: #f6f6f6f6;
  border-bottom: 30px solid white;
  padding-bottom: 20px;
}
.mural-vagas{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
width: 100%;
height: 100vh;
gap: 20px;

}
#primeira-vaga{
   border: 2px solid black;
   padding: 10px;
   border-radius: 10px;
   /* padding: 10px; */
}
.txt-small{
  font-size: 16px;
}
.box-cont{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-content: center;
}
.box-doc{
  display: inline-block;
  padding: 20px 10px;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  border: 1px solid black;
}
.cor--cinza{
  background-color: rgb(96, 96, 96);
  color: white;
}
/* mapa fatec */
#maps{
  border: 1px solid black;
  border-radius: 5px;
  margin: 50px;
}
